* {
    box-sizing: border-box;
}


header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-logos {
    display: none;
}

.hero {
    position: relative;
}

.call-to-action {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 40%;
    background: rgba(255, 255, 255, .5);
    padding: 0px 16px;
}

nav {
    display: none;
}

nav.open {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}

.active {
    background-color: #A8192D;
}


nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

nav a {
    display: block;
    padding: 20px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    text-decoration: none;
}

li {
    list-style: none;
    text-align: center;
}

#menuShell {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu::before {
    font-size: 2rem;
    content: "☰";
    margin: 16px;
    /* color: black;
    font-family: "Roboto Slab", serif;
    font-weight: 600; */

}

#menu.open::before {
    font-size: 1.5rem;
    content: "❌";
}

body {
    background-color: white;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 48px 16px;
}


main {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.hero img {
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
}

.current-events,
.member-spotlights {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.current-events {
    padding: 16px;
    background-color: #1D4E89;
    color: white;
}

.event {
    border: 1px solid white;
    background-color: white;
    color: black;
}

.spotlight,
.event {
    padding: 16px;
}

/* .event:nth-of-type(odd), */
.spotlight:nth-of-type(odd) {
    background-color: #1D4E89;
    color: white;
}




.weather-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    column-gap: 8px;
    row-gap: 4px;
}

.weather-heading {
    grid-column: 1 / span 2
}

.weather-emoji {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 40px;
    align-self: self-end;
    justify-self: end;

}

.temperature {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: self-end;
}

.weather-card p {
    margin: 0;
}

.humidity-label,
.wind-chill-label {
    justify-self: end;
}



footer {
    text-align: center;
    background-color: black;
    color: white;

}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}

#sidebar-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 16px; */

}

#sidebar-layout img {
    width: 100%;
    height: auto;
}

figure {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 24px;
}

#sidebar div {
    padding: 16px;
}

#sidebar div:nth-of-type(odd) {
    background-color: #1D4E89;
    color: white;

}

#discovery-image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-since {
    text-align: center;
}