* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header span {
    font-size: 30px;
    margin-left: 16px;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D4E89;
    color: white;
    padding: 50px;
}

nav {
    display: none;
}

nav.open {
    display: flex;
    flex-direction: column;
    background-color: #F79256;
}

.active {
    background-color: rgba(0, 0, 0, 0.6);
}

.active a {
    color: white;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav a {
    display: block;
    padding: 20px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

#menuShell {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu::before {
    font-size: 2rem;
    content: "☰";
    margin: 16px;
    /* color: black;
    font-family: "Roboto Slab", serif;
    font-weight: 600; */

}

#menu.open::before {
    font-size: 1.5rem;
    content: "❌";
}



body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
}

section {
    border: 1px solid black;
    margin-bottom: 16px;
}

section ul {
    text-align: left;
    margin: 16px;
}

section li {
    margin-bottom: 8px;
}

section div {
    margin: 16px;
}

section h2 {
    background-color: #1D4E89;
    display: block;
    padding: 16px;
    width: 100%;
    color: white;
}

main {
    margin: 25px;
}

h1 {
    margin: 0;
    padding-left: 21.44px;
    padding-right: 21.44px;
    padding-bottom: 21.44px;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-style: normal;

}

hr {
    grid-column: 1/3;
    margin-bottom: 16px;
}

footer {
    flex-direction: column;
    font-size: large;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 16px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.hero {
    margin-bottom: 16px;
    position: relative;
}

.herolabel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 40%;
    background: rgba(0, 0, 0, .25);
    padding: 1rem;

}

.herolabel p {
    color: white;
    margin: 0;
    padding: .25rem;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
}

iframe {
    width: 100%;

}   